* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('/images/userbg.jpg');
}

.cart-container {
    width: 75%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #ff66b2;
    color: white;
}

td, th {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

    td img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

.cart-total {
    text-align: right;
    margin-top: 20px;
}

    .cart-total h2, .cart-total h3 {
        margin-bottom: 10px;
    }

#checkout {
    background: linear-gradient(135deg, #e60000, #b30000);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

    #checkout:hover {
        background: linear-gradient(135deg, #cc0000, #990000);
        transform: translateY(-3px);
    }

.quantity-input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.remove-item {
    background: #e60000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

    .remove-item:hover {
        background: #b30000;
    }
ssss