header {
    text-align: center;
    background: #eed9da;
    color: rgb(0, 0, 0);
}

.topimg {
    width: 100%;
    height: 400px;
}

header h1 {
    margin: 0;
    font-size: 50px;
    padding-top: 2%;
    font-family: 'Georgia', serif;
    color: #333333; 
    letter-spacing: 1px; 
    text-align: center;
    font-weight: 400; 
}

.container {
    display: flex;
    padding: 20px;
    width: 90%;
    margin: auto;
    align-items: stretch;
}

.sidebar {
    width: 20%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}

    .sidebar label {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
    }

.products {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-left: 20px;
}

.product {
    flex: 1;
    display: grid;
}

.like-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #d9534f;
    transition: color 0.3s ease;
}

    .like-btn .heart-icon.liked {
        color: #e83e8c;
    }
