.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#favorites-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin-top: 3%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.add-to-cart {
    margin-bottom: 10px;
}

.remove-from-favorites {
    background: #e73737;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
